RUNNER_SCOPE_URL=https://github.com/TimeoutTim/usb-audio-x360
RUNNER_NAME=usb-audio360-builder
RUNNER_TOKEN=
XDK_INSTALLER_PATH=/srv/usb-audio360/toolchain/XBOX360 SDK 21256.3.exe
XEXTOOL_PATH=/srv/usb-audio360/toolchain/xextool.exe
